[bitnodes]

# Logfile
logfile = bitnodes.log

# SQLite database to store the list of found nodes
database = bitnodes.db

# Path to dig
dig = dig

# Number of concurrent workers to use
workers = 72

# Print debug output
debug = True

# Run script using hardcoded dummy network
test = False

# User agent (BIP 0014) to use for outgoing version message
user_agent = "/Satoshi:0.8.2.2/"

# Start heights (last received block) to use for outgoing version message
start_height = 242259

# Socket timeout
socket_timeout = 15

# SQLite database lock timeout
database_timeout = 300

# Report status on every given interval
status_interval = 60

# Max. network depth
# NOTE: Max. depth = 1 implies including nodes at depth 0 (seed nodes) and
#       nodes at depth 1 (below seed nodes).
#       Set max_depth = -1 to traverse until the end of the network.
max_depth = 16

# Max. age for an active node
max_age = 2592000

# Include unreachable nodes listed in addr message
greedy = True

# Max. getaddr message to send to node with max. peers
max_getaddr = 10
