[bitnodes]

# Logfile
logfile = bitnodes.log

# SQLite database to store the list of found nodes
database = bitnodes.db

# Path to dig
dig = dig

# Number of processes to use
processes = 64

# Print debug output
debug = False

# Run script using hardcoded dummy network
test = False

# Socket timeout
socket_timeout = 15

# SQLite database lock timeout
database_timeout = 60

# Report status on every given interval
status_interval = 60

# Max. network depth
max_depth = 100

# Max. age for an active node
max_age = 86400
