$ORIGIN seed.bitnodes.io.
$TTL 60

@	86400	IN	SOA	ns.bitnodes.io. hostmaster.bitnodes.io. (
				1413165554 ; SERIAL
				10800 ; REFRESH
				1800 ; RETRY
				604800 ; EXPIRE
				60 ; MINIMUM
				)

@	86400	IN	NS	ns.bitnodes.io.

ns	86400	IN	A	148.251.238.178
ns	86400	IN	AAAA	2a01:4f8:202:81b1::2
