[Unit]
Description=Start litecoin mainnet crawler

[Service]
WorkingDirectory=/home/ubuntu/bitnodes
ExecStart=~/.virtualenvs/bitnodes/bin/python -u crawl.py crawl.conf.default master

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
User=ubuntu
Group=ubuntu

# This will default to "bundler" if we don't specify it
SyslogIdentifier=crawl

[Install]
WantedBy=multi-user.target
Alias=crawl.service

