[Unit]
Description=Start litecoin mainnet crawler
After=redis.service

[Service]
WorkingDirectory=/home/ubuntu/bitnodes
ExecStart=/home/ubuntu/.virtualenvs/bitnodes/bin/python -u crawl.py conf/crawl.conf.default master

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
User=ubuntu
Group=ubuntu

TimeoutStartSec=5s
Restart=on-failure
RestartSec=20s

# This will default to "bundler" if we don't specify it
SyslogIdentifier=crawl

[Install]
WantedBy=multi-user.target

