[Unit]
Description=Start tcpdump for litecoin network traffic


[Service]
WorkingDirectory=/home/ubuntu/bitnodes
ExecStart=/bin/bash start_tcpdump.sh

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog
User=ubuntu
Group=ubuntu

TimeoutStartSec=10s
Restart=on-failure
RestartSec=20s

SyslogIdentifier=tcpdump

[Install]
WantedBy=multi-user.target
